/*inicia pagina acerca de*/

.titulo_acerca_de{
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.principal_acerca_de p{
  font-size: 20px;
  margin: 0 0 1em;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.mapa{
  background: linear-gradient(#FEFEFE,  #eaae00);
  width: 100%;
}

.mapa p{
  margin: 2em 0 1em;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.mapa_contenido { 
  width:auto;
  margin: 0 auto auto 460px;
}

iframe{
  align-items: center;
  margin: 10px 0 20px 0;

}

/*RESPONSIVE ACERCA DE*/ 

@media (max-width: 860px){

  titulo_acerca_de{
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
  }
  
  .principal_acerca_de p{
    font-size: 20px;
    margin: 0 0 1em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
  }
  .mapa{
    background: linear-gradient(#FEFEFE,  #eaae00);
    width: 100%;
  }
  
  .mapa p{
    margin: 0 0 1em;
    text-align: center;
    font-weight: bold;
    font-style: italic;
  }
  
  .mapa_contenido { 
    width: 100px;
    align-items: center;
    margin: 0 auto auto 23px;
  }

  iframe{
    width: 40vh;
  }
  
}
