/*seccion1*/

.section-uno {
  background-color: $fondoprincipal;
  display: flex;
  padding: 130px 0px;
  justify-content: center;
}

.section-contenido {
  width: $seccionprincipalancho;
}


.texto-section {
  color: $textocolor;

.texto-titulo {
  font-size:$tamanoletratitulo;
  /*margin-top: 100px;*/
  margin-bottom: 30px;
  font-weight: bold;
}
}

.texto-parrafo {
  font-size: $tamanoletraparrafo;
  margin-bottom: 70px;
}

.button-section1 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bolder;
}

.button-section1 .button-1 {
  background-color: #00bfcb;
  padding: 19px 30px 19px 30px;
}

.button-section1 .button-2 {
  border: #ffffff 3px solid;
  padding: 16px 30px 16px 30px;
}

.button-section1 a:hover {
  font-size: 22px;
  transition: 0.9s;
}


.imagen-section-1 {
  height: 200px;
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 10px;
}
