footer {
  background-color: $fondofooter;
  color: $textocolor;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 20px;
  justify-content: space-around;
}

footer h2.titulo {
  font-size: 40px;
  margin-bottom: 20px;
}
.sobre > p:hover,
.contacto > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer p {
  font-size: 20px;
  margin-bottom: 15px;
}

.iniciales {
  text-align: left;
  height: 175px;
  margin-top: 35px;
  border-radius: 25px;
  opacity: 0.6;
}


.sobre {
  align-items: flex-start;
}

.sobre > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contacto h2 {
  text-align: center;
}

.contacto p {
  text-align: center;
  margin-top: 40px;
}


.footer__redes__sociales{
  display: flex;
  margin-top: 30px;
  justify-content: center;
  justify-content: space-around;
}

.footer__redes__sociales img{
  height: 45px;
  width: 45px;
}
.footer__redes__sociales img:hover {
  height: 45px;
  width: 45px; 
  cursor: pointer;
  transition: 0.9s;
}

@media (max-width: 860px){
  footer {
    background-color: $fondofooter;
    color: $textocolor;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 20px;
    justify-content: space-around;
  }
  
  footer h2.titulo {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .sobre > p:hover,
  .contacto > p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  footer p {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .iniciales {
    text-align: left;
    height: 175px;
    margin-top: 35px;
    border-radius: 25px;
    opacity: 0.6;
  }
  
  
  .sobre {
    align-items: flex-start;
  }
  
  .sobre > p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .contacto h2 {
    text-align: center;
  }
  
  .contacto p {
    text-align: center;
    margin-top: 40px;
  }
  
  
  .footer__redes__sociales{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    justify-content: space-around;
  }
  
  .footer__redes__sociales img{
    height: 45px;
    width: 45px;
  }
  .footer__redes__sociales img:hover {
    height: 45px;
    width: 45px; 
    cursor: pointer;
    transition: 0.9s;
  }
  

}

