@charset "UTF-8";
.fondonav {
  background-color: #ffc400;
  height: 100px;
  width: 100%;
  position: fixed; }

.logo_company {
  height: 65px;
  width: 100px;
  margin-bottom: 10px;
  margin-left: 20PX;
  margin-right: 100px;
  border-radius: 75%; }

.paginas {
  color: #473a3a;
  text-decoration: none;
  margin-right: 60px;
  font-size: 25px;
  font-weight: bold; }

.paginas:hover {
  text-decoration: underline;
  font-size: 29px;
  transition: 0.5s; }

@media (max-width: 860px) {
  .fondonav {
    background-color: #ffc400;
    height: 100px;
    width: 100%;
    /*position: fixed;*/ }
  .logo_company {
    height: 65px;
    width: 100px;
    margin-bottom: 10px;
    margin-left: 20PX;
    margin-right: 100px;
    border-radius: 75%; }
  .paginas {
    color: #473a3a;
    text-decoration: none;
    margin-right: 60px;
    font-size: 25px;
    font-weight: bold; }
  .paginas:hover {
    text-decoration: underline;
    font-size: 29px;
    transition: 0.5s; } }

/*banner*/
img + h2 {
  font-family: sofia, cursive; }

.banner__imagen {
  margin-top: 60px;
  width: 100%;
  height: calc(68vh); }

.banner__titulo {
  color: #ffffff;
  /*#eaae008;*/
  text-shadow: 2px 2px #ffc400;
  font-weight: bold;
  font-size: 4.0625rem;
  position: absolute;
  margin-top: 30px;
  left: 50%;
  text-align: center;
  top: 69%;
  /*text-shadow: 0 4px 4px rgba(0, 0, 0,0, 0.75);*/
  width: 100%;
  transform: translate(-50%, -50%); }

@media (max-width: 860px) {
  img + h2 {
    font-family: sofia, cursive; }
  .banner__imagen {
    margin-top: 70px;
    width: 100%;
    height: 30vh; }
  .banner__titulo {
    color: #ffffff;
    /*#eaae008;*/
    text-shadow: 2px 2px #ffc400;
    font-weight: bold;
    font-size: 2.0625rem;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    text-align: center;
    top: 33%;
    width: 100%;
    transform: translate(-50%, -50%); } }

.section-1 {
  background-color: #ffc400;
  display: flex;
  padding: 130px 0px;
  justify-content: center; }

.section-contenido {
  width: 100%; }

.texto-section {
  color: #ffffff; }

.texto-titulo {
  font-size: 65px;
  text-align: center;
  margin-left: 90px;
  margin-bottom: 30px;
  font-weight: bold; }

.texto-parrafo {
  font-size: 30px;
  margin-left: 80px;
  text-align: center;
  margin-bottom: 70px; }

.button-section1 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  margin-left: 105px;
  border-radius: 5px;
  font-weight: bolder; }

.button-section1 .button-1 {
  background-color: #00bfcb;
  padding: 19px 30px 19px 30px; }

.button-section1 .button-2 {
  border: #ffffff 3px solid;
  padding: 16px 30px 16px 30px; }

.button-section1 a:hover {
  font-size: 22px;
  transition: 0.9s; }

.imagen-home {
  width: 100vw; }

.imagen-section-1 {
  margin-top: 80px;
  margin-left: 150px;
  height: 200px;
  width: 50%;
  border-radius: 8px; }

.imagen-section-1:hover {
  height: 200px;
  opacity: 80%; }

/*Responsive*/
@media (max-width: 860px) {
  .section-1 {
    padding: 50px 0px;
    flex-direction: column; }
  .section-contenido {
    width: 100%; }
  .texto-titulo {
    margin: 45px 10px 40px 10px;
    font-size: 35px;
    text-align: center;
    margin-left: 10px; }
  .texto-parrafo {
    font-size: 25px;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px; }
  .button-section1 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
  .button-section1 a {
    font-size: 16px;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: bolder; }
  .button-section1 .button-1 {
    background-color: #00bfcb;
    padding: 12px 5px 12px 20px; }
  .button-section1 .button-2 {
    border: #ffffff 2px solid;
    padding: 10px 5px 10px 20px; }
  .imagen-section-1 {
    height: 300px;
    width: 200px;
    margin: 0 0 0 115px; }
  .imagen-section-1:hover {
    height: 300px; } }

footer {
  background-color: #313131;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 20px;
  justify-content: space-around; }

footer h2.titulo {
  font-size: 40px;
  margin-bottom: 20px; }

.sobre > p:hover,
.contacto > p:hover {
  text-decoration: underline;
  cursor: pointer; }

footer p {
  font-size: 20px;
  margin-bottom: 15px; }

.iniciales {
  text-align: left;
  height: 175px;
  margin-top: 35px;
  border-radius: 25px;
  opacity: 0.6; }

.sobre {
  align-items: flex-start; }

.sobre > p:hover {
  text-decoration: underline;
  cursor: pointer; }

.contacto h2 {
  text-align: center; }

.contacto p {
  text-align: center;
  margin-top: 40px; }

.footer__redes__sociales {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  justify-content: space-around; }

.footer__redes__sociales img {
  height: 45px;
  width: 45px; }

.footer__redes__sociales img:hover {
  height: 45px;
  width: 45px;
  cursor: pointer;
  transition: 0.9s; }

@media (max-width: 860px) {
  footer {
    background-color: #313131;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 20px;
    justify-content: space-around; }
  footer h2.titulo {
    font-size: 40px;
    margin-bottom: 20px; }
  .sobre > p:hover,
  .contacto > p:hover {
    text-decoration: underline;
    cursor: pointer; }
  footer p {
    font-size: 20px;
    margin-bottom: 15px; }
  .iniciales {
    text-align: left;
    height: 175px;
    margin-top: 35px;
    border-radius: 25px;
    opacity: 0.6; }
  .sobre {
    align-items: flex-start; }
  .sobre > p:hover {
    text-decoration: underline;
    cursor: pointer; }
  .contacto h2 {
    text-align: center; }
  .contacto p {
    text-align: center;
    margin-top: 40px; }
  .footer__redes__sociales {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    justify-content: space-around; }
  .footer__redes__sociales img {
    height: 45px;
    width: 45px; }
  .footer__redes__sociales img:hover {
    height: 45px;
    width: 45px;
    cursor: pointer;
    transition: 0.9s; } }

/*inicia pagina acerca de*/
.titulo_acerca_de {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  margin-top: 30px; }

.principal_acerca_de p {
  font-size: 20px;
  margin: 0 0 1em;
  text-align: center;
  font-weight: bold;
  font-style: italic; }

.mapa {
  background: linear-gradient(#FEFEFE, #eaae00);
  width: 100%; }

.mapa p {
  margin: 2em 0 1em;
  text-align: center;
  font-weight: bold;
  font-style: italic; }

.mapa_contenido {
  width: auto;
  margin: 0 auto auto 460px; }

iframe {
  align-items: center;
  margin: 10px 0 20px 0; }

/*RESPONSIVE ACERCA DE*/
@media (max-width: 860px) {
  titulo_acerca_de {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin-top: 30px; }
  .principal_acerca_de p {
    font-size: 20px;
    margin: 0 0 1em;
    text-align: center;
    font-weight: bold;
    font-style: italic; }
  .mapa {
    background: linear-gradient(#FEFEFE, #eaae00);
    width: 100%; }
  .mapa p {
    margin: 0 0 1em;
    text-align: center;
    font-weight: bold;
    font-style: italic; }
  .mapa_contenido {
    width: 100px;
    align-items: center;
    margin: 0 auto auto 23px; }
  iframe {
    width: 40vh; } }

/*----------------*/
.contactanos__principal {
  background: linear-gradient(#FEFEFE, #eaae00); }

h2 {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  margin-top: 40px; }

form {
  display: block;
  align-items: center; }

form label, form legend {
  display: block;
  font-size: 20px;
  margin: 20px 0 0 100px; }

.input-padron {
  display: block;
  margin: 0 0  0 100px;
  padding: 10px 25px;
  width: 50%; }

.horario {
  margin-top: 5px;
  margin-left: 100px;
  margin-bottom: 5px; }

.checkbox {
  margin-left: 100px; }

label {
  margin-left: 50px; }

.enviar {
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 150px;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  border: white solid;
  padding: 16px 30px 16px 0px;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer; }

.enviar:hover {
  background: darkorange;
  transform: scale(1.2); }

table {
  margin: 40px 40px 0px 400px;
  padding-bottom: 10px;
  background-color: #ffc400;
  background: #fdfdfd;
  text-align: center; }

thead {
  background: #555555;
  color: white;
  font-weight: bold; }

td, th {
  border: 1px solid #000000;
  padding: 8px 15px; }

/*inicia pagina contacto*/
/*RESPONSIVE CONTACTO* pagina*/
@media (max-width: 860px) {
  .contactanos__principal {
    background: linear-gradient(#FEFEFE, #eaae00); }
  .contactanos__principal {
    background: linear-gradient(#FEFEFE, #eaae00); }
  h2 {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    margin-top: 30px; }
  form {
    display: block;
    align-items: center; }
  form label {
    display: block;
    font-size: 20px;
    margin: 5px 0 0 100px;
    font-weight: bold; }
  form legend {
    display: block;
    font-size: 20px;
    margin: 5px 0 0 0px;
    font-weight: bold; }
  .input-padron {
    display: block;
    margin-top: 5px;
    padding: 10px 25px 0 0;
    width: 50%; }
  .horario {
    margin-top: 5px;
    margin-left: 100px;
    margin-bottom: 5px; }
  .enviar {
    width: auto;
    background-color: white;
    border: #00bfcb 3px solid;
    margin-left: 100px;
    padding: 10px 10px 10px 2px; }
  .enviar:hover {
    background: darkorange;
    transform: scale(1.2);
    background: #fdfdfd;
    text-align: center; }
  table {
    width: 100px;
    margin: auto;
    background-color: #ffc400;
    background: #fdfdfd;
    text-align: center; }
  thead {
    background: #555555;
    color: white;
    font-weight: bold; }
  td, th {
    border: 1px solid #000000;
    padding: 8px 15px; } }

/*inicia productos*/
.producto {
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-right: 5rem;
  width: calc(25% - 5rem); }

.img__producto {
  height: 170px;
  margin-right: 20px; }

.producto__contenido {
  padding: 1rem;
  margin-right: 1rem; }

.producto__titulo {
  font-size: 1.437rem;
  text-align: center;
  font-weight: bold; }

.Producto__descripcion {
  padding: 1rem;
  font-size: 1.1875rem;
  line-height: 1.5;
  text-align: justify; }

.menu__productos {
  display: grid;
  grid-column: auto; }

.label__menu {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  border: red; }

select {
  font-size: 1rem;
  background: white;
  border-color: #eaae00; }

@media (max-width: 860px) {
  .producto {
    display: flex;
    background: #fdfdfd;
    grid-template-columns: auto;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: 100%; }
  .img__producto {
    width: 100%;
    height: 100px; }
  .producto__contenido {
    /*padding: 1rem;
  margin-right: 1rem;*/
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px 0 0 5px solid rgba(218, 19, 19, 0.8);
    padding: 5px;
    font-size: 2em;
    text-align: center; }
  .producto__titulo {
    font-size: 1.437rem;
    text-align: center;
    font-weight: bold; }
  .Producto__descripcion {
    padding: 1rem;
    font-size: 1.1875rem;
    line-height: 1.5;
    text-align: justify; }
  .menu__productos {
    display: grid;
    grid-column: auto; }
  .label__menu {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem; }
  select {
    font-size: 1rem;
    background: white;
    border-color: #eaae00; } }

/*inicia pagina servicios*/
.diferenciales_section_servicios {
  background: linear-gradient(#FEFEFE, #eaae00);
  /*background-color: #ffc400;*/
  margin-top: 20px;
  padding: 3em 0;
  justify-content: left; }

.parrafo_section_servicios {
  color: #ffc400;
  font-size: 65px;
  margin-bottom: 30px;
  font-weight: bold;
  /*negritas*/ }

.contenido_diferenciales_servicios {
  width: 100%;
  text-align: center;
  margin: 0 auto; }

.lista_diferenciales {
  width: 40%;
  display: inline-block;
  vertical-align: top; }

.items {
  line-height: 1.5;
  font-size: 2rem;
  align-items: center; }

.items:before {
  content: "★"; }

.items {
  color: #473a3a;
  font-weight: bold; }

.imagen_diferenciales {
  width: 50%; }

.video {
  width: 560px;
  margin: auto; }

@media (max-width: 860px) {
  .diferenciales_section_servicios {
    background: linear-gradient(#FEFEFE, #eaae00);
    /*background-color: #ffc400;*/
    margin-top: 20px;
    padding: 3em 0;
    justify-content: left; }
  .parrafo_section_servicios {
    color: #ffc400;
    font-size: 65px;
    margin-bottom: 30px;
    font-weight: bold;
    /*negritas*/ }
  .contenido_diferenciales_servicios {
    width: 100%;
    text-align: center;
    margin: 0 auto; }
  .lista_diferenciales {
    width: 40%;
    display: inline-block;
    vertical-align: top; }
  .items {
    line-height: 1.5;
    font-size: 2rem;
    align-items: center; }
  .items:before {
    content: "★"; }
  .items {
    color: #473a3a;
    font-weight: bold; }
  .imagen_diferenciales {
    width: 50%; }
  .video {
    width: 250px;
    margin: 10px 5px 5px 80px; }
  iframe {
    width: 280px; } }
